body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#ffdeec;
}

h1 {
    color: #ff0077ce;
}

h2 {
    color: #ffa9cd;
}

.topnav {
    overflow: hidden;
    background-color: #ffa9cd;
    display: flex;
    justify-content: space-evenly;
    /* padding: 10px; */
    /* position: absolute; */
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #ff0077ce;
    color: white;
}

.topnav .icon {
    display: none;
}

/* dropdown class links */
.dropbtn {
    background-color: #ffa9cd;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position:static;
    display: inline-block;
}
  
.dropdown-items {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-items a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-items {display: block;}
  
.dropdown:hover .dropbtn {background-color: #ff0077ce;}

/* footer */
.footer {
    background-color: #ff0077ce;
    color: #ffa9cd;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 99%;
}

.footer-content {
    color: white;
    align-items: center;
}

.footer a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .footer a:hover {
    background-color: #ffa9cd;
    color: black;
  }
  
  .footer a.active {
    background-color: #04AA6D;
    color: white;
  }